ul {
    margin-top: 15px;
}

.headerText {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 3em;
    letter-spacing: -2px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}